<leaflet lf-center="center" geojson="geojson" controls="controls" layers="layers"  height="92vh" width="85%"></leaflet>


<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Registrar Informacin</h3>
  </div>
  <div class="modal-body">
    <!--ul>
      <li ng-repeat="item in items">
        <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
      </li>
    </ul>
    Selected: <b>{{ selected.item }}</b-->

    <form class="form-horizontal">
      <fieldset>

        <!-- Form Name -->
        <!--legend></legend-->

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-3 control-label" for="textinput">Nombre</label>
          <div class="col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" ng-model="nombre">

          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-3 control-label" for="textarea" >Geo Puntos</label>
          <div class="col-md-8">
            <textarea rows="7" class="form-control" id="textarea" name="textarea" ng-model="geoPuntos"></textarea>
          </div>
        </div>

      </fieldset>
    </form>



  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>
